.OptionInput {
    transition: all 0.5s ease-in;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    color: #fff;
    background: #BFF4DD;
    border: 1px solid #00d478;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 1000;
  }


  
  .OptionInput:checked {
    background: #00d478;
  }

  .OptionInput.active, .OptionInput:checked.active {
    opacity: 1;
  }

  .OptionInput:checked::before {
    height: 40px;
    width: 40px;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .OptionInput:checked::after {
    background: #00d478;
    content: '';
    display: block;
    z-index: 100;
  }