.List label {
    display: inline-block;
    margin-left: 10px;
    width: 85%;
    word-break: break-all;
}

.Completed {
    transition: all .6s;
    text-decoration: line-through;
    opacity: .6;
}
