.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.LabelLine{
    text-decoration: line-through;
    opacity: 0.6;
}

label {
    transition: all 0.5s ease-in;
    opacity: 1;
    text-align: left;
}


.InputElement {
    outline: none;
    border: 1px solid #9FEFCC;
    background-color: #DFFAEE;
    font: inherit;
    padding: 10px 10px;   
    display: block;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}

.InputElement:focus {
    outline: none;
    /* background-color: #BFF4DD; */
    border-bottom: 3px solid #ff7730;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 